<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="main.css" rel="stylesheet" />
    <title>Document</title></head>
    <body><div class="v1_2"><div class="v1_3"></div>
        <div class="v1_5"></div><div class="v1_4"></div>
        <span class="v1_6">Adler’s List</span><span class="v1_7">Create an Inventory to increase productivity 
and enchance your work flow</span>
<span class="v1_9">Bolu</span>
<div class="v4_14"><div class="v3_10" href="/signup"></div>
<a class="v4_11" href="/signup">Sign up</a></div>
<a class="v4_18" href="/signin">Sign in</a><span class="v4_19">Or</span>
<div class="v4_25"></div></div>
</body>
</html>