<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" /><link href="main_4.css" rel="stylesheet" /><title>Document</title></head><body><div class="v4_105"><div class="v4_144"></div>
    <div class="v4_145"></div><div class="v4_148"></div><div class="v4_150"></div>
    <span class="v4_147">E-mail</span><span class="v4_149">Password</span>
    <span class="v4_151">ConfirmPassword</span><div class="v4_152"><div class="v4_153"></div>
    <span class="v4_146">Sign up</span>
    <form action="/su" method="post">
    <a class="v4_154" href="invlist">Sign up</a></div>
    <input class="v9_2" type="email" id="email" name="email">
    <input class="v9_3" type="text" id="password" name="password">
    <input class="v9_4" type="text" id="cpass" name="cpass">
    <div class="v4_146">
    <button  type="submit">Sign up</button>
    </div>
    </form>
    </div>

    </body></html>